body{
    background-image:url(https://images.pexels.com/photos/6456305/pexels-photo-6456305.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

div{
    margin: 20px;
    padding: 5px;
    background-color: rgb(223, 216, 216);
    border-color: black;
    border-radius: 20px;
}

.btn{
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 25px;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;

}

.btn:hover{
    background-color: grey;
}

h1{
    margin: 20px;
    text-decoration: underline;
}

.box{
    border-style: solid;
    margin: 70px;
}
